*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}

ul, li {
    list-style: none;
    text-decoration: none;
}

button{
    padding: 10px;
    border: none;
}

.containerLarge{
    width: 100%;
    
}

.containerMedium{
    max-width: 1000px;
    margin: 0 auto;
}

.containerSmall{
    width: 850px;
    margin: 0 auto;
}

.flex{
    display: flex;
    
}

.flexSpace{
    justify-content: space-between;
    display: flex;
    align-items: center;
}

.flexColumn{
    display: flex;
    flex-direction: column;
    gap: 6%;
}

.options{
    justify-content: space-between;
}

.flexCenter{
    display: flex;
    justify-content: center;
}

.flexCenterAlign{
    display: flex;
    justify-content: center;
    align-items: center;
}

.alignCenter{
    align-items: center;
}

.wrap{
    flex-wrap: wrap;
}

.navBar{
    min-height: 80px;
}

.navBar li {
   padding: 15px;

}

.heroBackground{
    background-color: rgb(180, 208, 231);
}

.heroTitle{
    font-size: 65px;
    padding: 15px;
    margin-bottom: 20px;

}

.arrowSize{
    font-size: 60px;
}

.col-4{
    width: calc(100% / 3 - 15px);
}

.col-4small{
    width: calc(100% / 3 - 20px);
}

.col-4H{
    width: calc(100% / 3 - 30px);
}


.col-8{
    width: calc(2 * 100% / 3);

}   

.col-8H{
    width: calc(2 * 100% / 3 - 13px);

}   

.col{
    width: 100%;
}

.customPadding{
    padding-top: 100px;
}

.jumbo{
    width: 108%;
    margin-bottom: -75px;
   
}


.biggerH2{
    font-size: 35px;
    
}

.radio{
    padding: 15px;
}

.radioRow{width: 45%;}

.thinFont{
    font-weight: 100;
}

.iconMargin{
    margin-right: 5px;
}

.arrowMargin{
    margin-top: auto;
}

.heroBtn{
    background-color:rgb(0, 97, 255);
    color: white;
    padding-left: 20px;
    padding-right: 20px;
    width: fit-content;
    font-size: 15px;
}

.user{
    text-align: center;
}

.card{
    border: 1px solid rgb(199, 199, 199);
    width: 100%;
   
}

.cardHoriz{
    border: 1px solid rgb(199, 199, 199);
    width: 100%;
   
}

.cardHead{
    
    border-bottom: 1px solid rgb(199, 199, 199);
    padding: 5px 0 5px 0;

}

.cardBody{
    display: flex;
    flex-direction: column;
    padding: 15px;

}

.cardMargin{
    margin-bottom: 30px;
}

.blueBtn{
    background-color:rgb(0, 97, 255);
    color: white;
    font-size: 13px;
    margin: 0 auto;
    margin-bottom: 30px ;
    width: 100%;

}

h3{
    font-weight: 700;
}

.paddingTop25{
    padding-top: 25px;
}

.hrCard{
    width: 30%;
    color: rgb(199, 199, 199);
}

.marginH{
margin-right: 100px;
}

.colorCheck{
    color:#0367FF ;
    
}

.marginTop{
    margin-top: 40px;
}

.cardBody  li {
    margin-bottom: 15px;
}

.cardBodyH{
    display: flex;

}

.cardHPadding{
    padding: 20px;

}

.sectionMargin{
    margin-bottom: 120px;
}


.col-60{
    width: 60%;

}

.col-40{
    width: 40%;
    padding-left: 26px;

}

.partnerImg{
    width: 100%;
    padding-right: 10px;
}

.marginBottom20{
    margin-bottom: 20px;
}

.marginBottom40{
    margin-bottom: 40px;
}

.whiteBtn{
    background-color: white;
    border: 1px solid black;
    width: 50%;
}

.cardSmallImg{
    width: 100%;
}

.cardSmallPadding{
    padding: 10px;
}

.fontSize14{
    font-size: 14px;
}

.col-33{
    width: calc(100vw / 3);
    height: calc(100vw / 3);
}

.partnerLogo{
    width: 50%;
    filter: invert(1);

}

.partnerSquare{
    height: 50%;
    width: 50%;
}

.squarePadding2{
    padding: 20px;
}

.backgroundTopps {
    background-color: #FF1C1C;
}

.backgroundUF {
    background-color: #0093CE;
}
    
.backgroundAsu{
    background-color: #61082B;
}

.backgroundDesignit{
    background-color: #A2D39B;
    border: 5px solid #D1E9CD;
}

.backgroundWorld{
    background-color: #D5001F;
}

.backgroundHearst{
    background-color: #B4D0E7;
}

.backgroundLonely{
    background-color: #0D2481;
}

.backgroundClear{
    background-color: #FFD830;
}














.customLogo{
    width: 52%;
}

.bigSquareBack{
    background-color: #F5F5F5;
   
}

.overflow{
    overflow: auto;
}